# Build and Release Folders
bin-debug/
bin-release/

node_modules
.DS_Store
.sublime-project
.sublime-workspace
src/
demo/
data/
libs/


# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project