extends layout

block content
  .container
    .acerca
      h1 Acerca del proyecto
      .row
       .span10
        p MediaSancion surge en 2009 como una iniciativa de Manuel Aristarán, Renzo Carbonara, y David Galavotti para comenzar a abrir, modelar y visualizar los datos del Congreso Nacional.
        p En 2011, algunos miembros de GarageLab presentan esta iniciativa a Poder Ciudadano y logran su apoyo para seguir avanzando en el proyecto. Se logra un prototipo funcional que permite listar los Proyectos de Ley que ingresan a la Cámara de Diputados, el giro a Comisión, y los autores del mismo.
        p A fines de 2012, la Diputada Laura Alonso apoya el proyecto MediaSancion y a GarageLab mediante un subsidio destinado a organizaciones de la sociedad civil. Renzo Carbonara desarrolla una API que sistematiza la extracción de los datos y los mantiene actualizados. En esta etapa se suma Gonzalo Iglesias al equipo y David Galavotti desarrolla las interfaces y el consumo de la API para mantener la aplicación actualizada.
        p Por todo esto, agradecemos a todas las personas y organizaciones que brindaron su apoyo para que este proyecto se pueda hacer público en Abril de 2013 y logre su objetivo de transparentar y faciltar el análisis de la actividad legislativa en su primer ciclo: desde la Mesa de Entradas de la Cámara de Diputados hasta el giro de los Proyectos a cada Comisión. 