extends layout

block content
  .container
      h1 Acerca de Media Sanción
      .row
       .span9
        p Donec at lorem tortor. Aliquam leo arcu, tincidunt eu accumsan in, sollicitudin vel justo. Fusce vel commodo turpis. Phasellus in mauris leo. Sed erat neque, rhoncus in congue nec, consectetur facilisis dolor. Praesent scelerisque venenatis massa non dictum. Suspendisse porttitor dictum luctus. Donec ipsum diam, cursus nec pellentesque non, elementum fermentum lectus. Pellentesque suscipit iaculis felis, porta ultrices lorem interdum eget. Nam malesuada fermentum purus in placerat. Integer et eros sed tellus aliquam fermentum. Suspendisse odio nisl, tempus laoreet bibendum id, faucibus eu dui. Fusce sollicitudin rutrum nibh, ac eleifend lorem rutrum vitae.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu mollis leo. Integer vestibulum egestas eros, scelerisque iaculis diam sodales non. In congue pretium enim eget elementum. Quisque ante erat, egestas rhoncus varius nec, feugiat non risus. Nullam ut lectus dolor. Vestibulum convallis congue nisl nec facilisis. Vivamus pharetra lacinia ligula, sit amet sodales neque ornare porttitor. Curabitur aliquet luctus ipsum, gravida luctus erat condimentum eget. Vestibulum posuere accumsan ante, ac pellentesque mi sollicitudin vitae. Aliquam suscipit imperdiet tellus, sit amet malesuada ligula mattis et.