extends layout

block content
  .container
      h1 Comisiones

      .bs-docs-example
       table.table.table-bordered
        thead
          tr
            th ID
            th Nombre de la comision
        tbody
        each comision in comisiones.payload.comisiones
          tr
            td
             a(href="/comision/"+comision.comision.uuid)
              | Link
            td
             #{comision.comision.uuid}