extends layout
  
block content
  .banner
    .container
      .jumbotron
        .flexslider
          ul.slides
            li.slide-inicial
              h1 Media Sanción es un proyecto abierto sobre transparencia legislativa.
              p Creamos herramientas para comprender mejor qué sucede en el Congreso.
            li.slide-mapa
              h1 Un acceso alternativo al ecosistema de información del Congreso.
              p Podés recorrer los proyectos de ley, legisladores y comisiones.
            li.slide-herramientas
              h1 Usamos tecnología web abierta y colaborativa.
              p Conocé y colaborá en futuras versiones.