doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/docs.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
  body
    header#overview.jumbotron.subhead
      .container
         .row
          .span9
            ul.nav.nav-pills
              li.arrow-box.arrow-inicio
                a(href='/') Inicio
              li.arrow-box.arrow-acerca
                a(href='/acerca') Acerca de
              li.arrow-box.arrow-proyectos
                a(href='/proyectos') Listar Proyectos
              li.arrow-box.arrow-legisladores
                a(href='/legisladores') Listar Legisladores
              li.arrow-box.arrow-comisiones
                a(href='/comisiones') Listar Comisiones
          

         .row
          h1
           a.brand(href='/') Media Sanción
            p.lead Acceso público a la información de la actividad legislativa en Argentina.
         .row
          .span5
           small
            | Fusce nec lectus mi. Proin et nisl turpis, ac mollis nisl. Donec non diam ac mi semper blandit eu ac odio. Praesent pharetra, urna quis consectetur dapibus, est nulla tincidunt erat, ut sceleris$
    section#inicio
    block content
      .container

    footer.footer
      .container
        .row.credits
          .span4 Un projecto conjunto entre
          .span8 Con el apoyo de 

    script(src='/javascripts/jquery-1.8.0.min.js')
    script(src='/javascripts/bootstrap.min.js')

