extends layout

block content
  .container
      h1 Legisladores

      .bs-docs-example
       table.table.table-bordered
        thead
          tr
            th Nombre del legislador
        tbody
        each legislador in legisladores.payload.legisladores
          tr
            td
             #{legislador.legislador.persona}