extends layout

block content
  .container
    .row
      .span12 
        h1 Legisladores
    .row
      .span12
        #projects.projects
          each legislador in legisladores.payload.legisladores
            -var partido = legislador.legislador.persona.partido
            if partido != null
              .project.span4
                .well
                  p #{legislador.legislador.persona.nombre} #{legislador.legislador.persona.apellido}
                  a(href='mailto:#{legislador.legislador.persona.email}') Mail
                  p Partido: #{legislador.legislador.persona.partido}
