extends layout

block content
  .banner.legisladores
    .container
      .jumbotron
        h1 Media Sanción es un proyecto abierto sobre transparencia legislativa.
        p Creamos herramientas para comprender mejor qué sucede en el Congreso.
  .container
    .row
      .span12
        #projects.projects
          each legislador in legisladores.payload.legisladores
              .project.span4
                .well
                  p #{legislador.legislador.persona.nombre} #{legislador.legislador.persona.apellido}
                  a(href='mailto:#{legislador.legislador.persona.email}') Mail
                  p Partido: #{legislador.legislador.persona.partido}
