extends layout

block content
  .banner.legisladores
    .container
      .jumbotron
        h1 Media Sanción es un proyecto abierto sobre transparencia legislativa.
        p Creamos herramientas para comprender mejor qué sucede en el Congreso.
  .container
    .row
      .span12
        #projects.projects.legisladores
          each legislador in legisladores.payload.legisladores
              -var apellido = legislador.legislador.persona.apellido
                if apellido != null
                .project.span4
                  .well
                    span.image.pull-left
                    span.content
                      p.name #{legislador.legislador.persona.nombre} #{legislador.legislador.persona.apellido}
                      a(href='mailto:#{legislador.legislador.persona.email}', class='mail') Mail
                    each firma_proyecto in legislador.legislador.firmas_proyectos
                      span.signature #{firma_proyecto.length}
