extends layout

block content
  .container
      h1 Proyectos

      .bs-docs-example
       table.table.table-bordered
        thead
          tr
            th ID
            th Nombre del proyecto
            th Comisión
            th Fecha
        tbody
        each proyecto in proyectos.payload.proyectos
          tr
            td=proyecto.proyecto.url
            td=
              | Contenido
            td Contenido
            td 11/10/2012