extends layout

block content
  .container
      h1 Proyectos

      .bs-docs-example
       table.table.table-bordered
        thead
          tr
            th Ver proyecto
            th Id Interna del proyecto
        tbody
        each proyecto in proyectos.payload.proyectos
          tr
            td
             a(href="/proyecto/"+proyecto.proyecto.uuid)
              | Link
            td
             #{proyecto.proyecto.uuid}



//      ul
//       each link in proyectos.links
//        li
//         #{proyectos.links.link.href}
