extends layout

block content
  .container
      h1 Proyecto
      - var proyecto = proyecto.payload.proyecto
      .jumbotron
       p.lead Fecha: #{proyecto.publicacion_fecha}
      .row-fluid
       .span6
        h4 Sumario
        p #{proyecto.sumario}

