extends layout

block content
  .container
      h1 Proyectos

      .bs-docs-example
       table.table.table-bordered
        thead
          tr
            th ID
            th Nombre del proyecto
            th Comisión
            th Fecha
        tbody
        - var proyecto = proyecto.payload.proyecto
          tr
            td
             a(href=proyecto.url)
              | Link
            td
             | proyecto.uuid
            td Contenido
            td 11/10/2012
