@import "lesshat";

@import url('bootstrap/variables.less');

.hideText {text-indent:100%; white-space:nowrap; overflow:hidden;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@inicio: darken(#EAEAEA, 20%);
@acerca: darken(#AEB2B4, 20%);
@proyectos: darken(#BDE5F9, 20%);
@legisladores: darken(#97E8E4, 20%);
@comisiones: darken(#6CC9F6, 20%);


html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

body {

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 100px;
  background: url('/images/ms-bkg.png');
}

header {
    
  .brand {
    display: block;
    width: 248px;
    height: 88px;
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    background-position:50% 50%; 
    text-indent: -5000px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 0px;
  }
  .lead {
    margin-top: -45px;
    margin-left: 112px;
    color: #969696;
    font-size: .9em;
    font-weight: bold;
    font-weight: normal;
    letter-spacing: -.05em;
  }

  small {
    display: block;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 13px;
  }

  .nav {
    float: left;
  }

  .nav > li {
    margin: 5px;

      &:first-child {
        margin-left: 0px;
      }

  }

  .nav > li > a {
    font-size: .8em;
    display: block;
    padding: 16px 19px;
    color: @white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.07em;

      &:hover, &:focus {
        text-decoration: none;
        background-color: inherit;
    }

  }

  .search-bar {
    width: 100px;  
  }


  .inicio, .acerca, .proyectos, .legisladores, .comisiones {
    .border-radius(3px);
  }

  .inicio {
    background-color: @inicio;
    &:hover {
      background-color: darken(@inicio, 10%)
    }
  }
  .acerca {
    background-color: @acerca;
    &:hover {
      background-color: darken(@acerca, 10%)
    }
  }

  .proyectos {
    background-color: @proyectos;
    &:hover {
      background-color: darken(@proyectos, 10%)
    }
  }

  .legisladores {
    background-color: @legisladores;
    &:hover {
      background-color: darken(@legisladores, 10%)
    }
  }

  .comisiones {
    background-color: @comisiones;
    &:hover {
      background-color: darken(@comisiones, 10%)
    }
  }

input[type="text"] {
  .border-radius(3px);
  border: 2px solid @proyectos;
  color: #333;
  text-indent: 2px;
  display: block;
  padding: 13px 19px 13px 10px;
  margin-top: 5px;
  font-weight: bold;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}

}

.banner {
  position: relative;
  min-height: 375px; 
  background-color: #333;
  text-align: center;

  h1 {
    font-size: 2.5em;
    line-height: 48px;
    font-weight: 300;
    color: @white;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding: 120px 0 10px;
  }

  p {
    font-size: 1.7em;
    font-weight: 300;
    color: @white;
  }

  &.proyectos {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: @proyectos;
    text-align: left;
    h1 { padding: 40px 0 0; }
  }

  &.legisladores {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: @legisladores;
    text-align: left;
    h1 { padding: 40px 0 0; }
  }

}

.projects {

  .project.span4 {
  
    width: 360px;
  
  }
  .project {

      .well {
        position: relative;
        min-height: 20px;
        padding: 15px;
        padding-top: 25px;
        background-color: @white !important;
        border: 1px solid #e4e4e4;
        .box-shadow(~"0 .05em .25em #EAEAEA");
        overflow: hidden;

        .summary {
          color: darken(#AEB2B4, 20%);
          font-size: .76em;
          line-height: 1.4em;
          font-weight: 600;
          text-transform: uppercase;
          padding-top: 10px;
        }

        .comission {
          display: inline-block;
          font-size: .68em;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0px 5px;
          color: @white;
          background-color: @proyectos;
          margin-right: 4px;
          margin-bottom: 4px;
          .border-radius(3px);
          white-space: nowrap;
        }
        .link a {
          position: absolute;
          right: 0;
          top: 0;
          background-color: #AEB2B4;
          .border-radius(0px 3px 0px 0px);
          font-size: .75em;
          font-weight: 800;
          padding: 3px 6px;
          color: @white;
          &:hover{
            text-decoration: none;
            background-color: darken(#AEB2B4, 20%);
          }
        }
        .date {
          position: absolute;
          left: 0;
          top: 0;
          top: 0;
          background-color: lighten(#AEB2B4, 15%);
          .border-radius(0px 0px 0px 0px);
          font-size: .75em;
          font-weight: 600;
          padding: 3px 6px;
          color: @white;
        }
        .legisladores {

          .legislador a {
            .hideText;
            float: left;
            width: 20px; height: 20px;
            margin-right: 5px;
            background-color: #AEB2B4;
            .border-radius(40px);
            background-image: url('/images/user-icon.svg');
            background-repeat: no-repeat;
            background-position:50% 50%; 
            background-size: 20px;
            color: white;


          }

        }
    }
  }

}


.footer {
  background-color: darken(#BDE5F9, 30%);
  min-height: 400px;

  .credits {
    margin: 40px 0 0 0;
  }
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.flexslider {
  margin: 0; padding: 0;
  .slides {
    &:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
    & > li {display: none; -webkit-backface-visibility: hidden;}
    & img {width: 100%; display: block;}
  }

}

.flex-pauseplay span {text-transform: capitalize;}

html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {margin: 0 0 60px; position: relative; zoom: 1;}

.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

.flex-direction-nav {
  *height: 0;

  a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(/images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}

}

.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {

  width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);

  &:hover { background: #333; background: rgba(255,255,255,0.7); }
  &.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
}


.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

